/* Global styles */
body {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  background-color: #f4f4f4;
}

img {
  max-width: 100%;
  display: block;
}

/* Header */
.header {
  background-image: url("./assets/images/worldCuisine.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
}

.header__menu-icon-bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.header__title {
  font-size: 1.5em;
  text-shadow: 3px -1px black;
}

/* Sidebar (Menu déroulant) */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Commence hors écran à gauche */
  width: 250px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(51, 51, 51, 0.9),
    rgba(0, 0, 0, 0.8)
  ); /* Dégradé linéaire avec transparence */
  transition: left 0.3s ease; /* Animation pour glisser de gauche à droite */
  z-index: 1000;
  padding-top: 60px; /* Pour laisser de l'espace pour le header */
}

.sidebar__menu {
  list-style: none;
  padding: 0;
}

.sidebar__item {
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Bordure légère avec transparence */
}

.sidebar__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
}

.sidebar__submenu {
  list-style: none;
  padding: 10px 20px;
  display: none; /* Le sous-menu est caché par défaut */
  background-color: rgba(
    68,
    68,
    68,
    0.8
  ); /* Fond du sous-menu avec transparence */
}

.sidebar__submenu-item {
  padding: 10px 0;
}

.sidebar__submenu-link {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  display: block;
}

.sidebar__item:hover .sidebar__submenu {
  display: block; /* Afficher le sous-menu lors du survol */
}

/* Active state pour afficher le menu */
.sidebar--active {
  left: 0; /* Le menu est affiché lorsqu'il est activé */
}

/* Favorites section */
.favorites {
  padding: 20px;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0px 1px 15px 2px #0000007d;
}

.favorites__title {
  font-size: 1.5em;
  margin-bottom: 10px;
  border-radius: 8px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  text-align: center;
  box-shadow: 1px 0px 5px 1px #0000007d;
}

.favorites__carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.favorites__item {
  min-width: 200px;
  margin-right: 15px;
  scroll-snap-align: start;
}

.favorites__image {
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.favorites__name {
  text-align: center;
  margin-top: 5px;
}

/* Categories section */
.categories {
  padding: 20px;
}

.categories__title {
  font-size: 1.5em;
  margin-bottom: 15px;
  border-radius: 8px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  text-align: center;
  box-shadow: 1px 0px 5px 1px #0000007d;
}

.categories__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.categories__card {
  flex: 1 1 calc(50% - 15px);
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 4px 6px 7px 0px #0000007d;
}

.categories__image {
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
}

/* About section */
.about {
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 0px 5px 1px #0000007d;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.about__text {
  text-align: center;
}

.about__title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.about__description {
  font-size: 1em;
}

/* Footer section */
.footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  box-shadow: 0px -2px 3px 2px #0000007d;
}

.footer__title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__form-group {
  margin-bottom: 15px;
  margin-right: 5%;
}

.footer__label {
  margin-bottom: 5px;
}

.footer__input,
.footer__textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

.footer__textarea {
  resize: vertical;
}

.footer__submit {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #fff;
  text-shadow: 1px 1px 2px black;
  border: none;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  box-shadow: 0px 0px 5px 3px #ffffff5e;
}

.footer__submit:hover {
  background-color: #e64a19;
}
