/* Global styles */
body {
  max-width: 768px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  background-color: #f4f4f4;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}
/* Header */
.header {
  height: 100vh;
  background-image: url("../assets/images/beautifulCuisine.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  position: absolute;
  top: 10%;
  right: 8%;
}

.header__menu-icon:hover {
  transform: rotate(-720deg) scale(1.5) rotateY(5turn);
  -webkit-transform: rotate(-720deg) scale(1.5) rotateY(5turn);
  -moz-transform: rotate(-720deg) scale(1.5) rotateY(5turn);
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
}

.header__menu-icon-bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 2px #424242;
}

.header__title {
  text-wrap: nowrap;
  font-size: 3.2rem;
  font-family: "Cookie", cursive;
  text-shadow: 2px 2px 0px #000000;
  margin: 78vh auto 0;
  text-align: center;
  color: #ffa014;
}

/* Scroll Down Arrow  */

.scroll-down {
  position: absolute;
  left: 50%;
  top: 38vh;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  box-shadow: 4px 4px 4px black;
  width: 50px;
  height: 50px;
  border-bottom: 5px solid #c97e26;
  border-right: 5px solid #c97e26;
  z-index: 9;
  border-radius: 4px;
  z-index: 9;
  left: 44%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

/* Sidebar (Menu déroulant) */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Commence hors écran à gauche */
  width: 250px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(51, 51, 51, 0.9),
    rgba(0, 0, 0, 0.8)
  ); /* Dégradé linéaire avec transparence */
  transition: left 0.3s ease; /* Animation pour glisser de gauche à droite */
  z-index: 1000;
  padding-top: 60px; /* Pour laisser de l'espace pour le header */
}

.sidebar__menu {
  list-style: none;
  padding: 0;
}

.sidebar__item {
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Bordure légère avec transparence */
}

.sidebar__link {
  width: 100%;
  height: 100%;
  color: snow;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  margin: 0 auto;
}

.sidebar__submenu {
  list-style: none;
  padding: 10px 20px;
  display: none; /* Le sous-menu est caché par défaut */
  background-color: rgba(
    68,
    68,
    68,
    0.8
  ); /* Fond du sous-menu avec transparence */
}

.sidebar__submenu-item {
  padding: 10px 0;
}

.sidebar__submenu-link {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  display: block;
}

.sidebar__item:hover .sidebar__submenu {
  display: block; /* Afficher le sous-menu lors du survol */
}

/* Active state pour afficher le menu */
.sidebar--active {
  left: 0; /* Le menu est affiché lorsqu'il est activé */
}

/* Search bar section */

.search-bar {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 768px;
  margin: 10% auto;
  border-radius: 25px;
  box-shadow: 1px 0 5px 1px #0000007d;
  overflow: hidden;
  background-color: #fff;
}

.search-bar__input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 25px 0 0 25px;
}

.search-bar__button {
  background-color: #e41c09;
  border: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0 12px 12px 0;
}

.search-bar__button:hover {
  background-color: #e7654e;
}

.search-bar__icon {
  width: 20px;
  height: 20px;
  stroke: #fff;
}

/* Favorites section */
.favorites {
  padding: 20px;
  margin: 10% 5% 0;
  background-color: #fff;
  box-shadow: 0px 1px 15px 2px #0000007d;
  border-radius: 30px 30px 30px 30px;
}

.favorites__title {
  font-size: 1.5em;
  margin-bottom: 10%;
  border-radius: 8px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  text-align: center;
  color: snow;
  box-shadow: 1px 0px 5px 1px #0000007d;
  text-shadow: 2px 0px 5px black;
}

.favorites__carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ : cache la barre de défilement */
  gap: 10px;
}

.favorites__carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari et Opera : cache la barre de défilement */
}

.favorites__item {
  min-width: 200px;
  margin-right: 15px;
  scroll-snap-align: start;
}

.favorites__image {
  height: 95%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 4px 6px 7px 0px #0000007d;
}

.favorites__name {
  background-color: #ff8c0075;
  text-align: center;
  width: 99%;
  margin-top: -2px;
  border: 2px solid #00000000;
  color: snow;
  box-shadow: 1px 0px 3px 1px #0000007d;
  text-shadow: 2px 0px 3px black;
  position: relative;
  z-index: 20;
  top: -70px;
  font-weight: 600;
}

/* Categories section */
.categories {
  padding: 20px;
}

.categories__title {
  font-size: 1.5em;
  margin: 10% 0;
  border-radius: 8px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  text-align: center;
  color: snow;
  box-shadow: 1px 0px 5px 1px #0000007d;
  text-shadow: 2px 0px 5px black;
}

.categories__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.categories__card {
  flex: 1 1 calc(50% - 15px);
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 4px 6px 7px 0px #0000007d;
}

.categories__image {
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
}

/* About section */
.about {
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 0px 5px 1px #0000007d;
  margin: 10%;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.about__text {
  text-align: center;
}

.about__title {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-shadow: 0px 0px 0px black;
}

.about__description {
  font-size: 1em;
}

/* Footer section */
.footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  box-shadow: 0px -2px 3px 2px #0000007d;
}

.footer__title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__form-group {
  margin-bottom: 15px;
  margin-right: 5%;
}

.footer__label {
  margin-bottom: 5px;
}

.footer__input,
.footer__textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

.footer__textarea {
  resize: vertical;
}

.footer__submit {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: snow;
  border: none;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  box-shadow: 1px 0px 5px 1px #0000007d;
  text-shadow: 2px 0px 5px black;
}

.footer__submit:hover {
  background-color: #e64a19;
}

/* ////////////////////////////////////////////////////
///////////////////////////////////////////////////////
/////////                                     /////////
/////////          PAGE ALPHABET              /////////
/////////                                     /////////
///////////////////////////////////////////////////////
/////////////////////////////////////////////////////// */

.alphabet-search {
  padding: 20px;
}

.alphabet-search__letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.alphabet-search__letter {
  background-color: #ff98006b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.5s ease;
  flex: 1 0 21%; /* Pour 5 lettres par ligne en mobile */
  max-width: 60px; /* Pour limiter la largeur des boutons */
}

.alphabet-search__letter:hover {
  background-color: #e41c09;
}

.alphabet-search__results {
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none; /* Initialement caché */
}

.alphabet-search__result-link {
  font-family: "Cookie", cursive;
  font-size: 2rem;
  display: block;
  box-shadow: 0 0 3px 1px black;
  padding: 10px;
  margin-bottom: 25px;
  color: #ff7e5f;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.alphabet-search__result-link:hover {
  background-color: #ffe5e0;
}

/* Media Query pour tablettes et plus grands écrans */
@media (min-width: 768px) {
  .alphabet-search__letter {
    flex: 1 0 10%; /* Pour 10 lettres par ligne en tablettes */
  }
  .scroll-down {
    left: 48%;
  }
  .header__title {
    margin: 108vh auto 0;
  }
}

@media (min-width: 1024px) {
  .alphabet-search__letter {
    flex: 1 0 7%; /* Pour 14 lettres par ligne en grands écrans */
  }
}
